.container, .container-fluid {
  border:solid 3px black;
  margin-bottom:20px;
  background:grey;
  text-align: center;
}

[class^="col-"]{
  border: solid 1px purple;
}

.my-class{
  padding-top: 15px;
  padding-bottom: 15px;
  background: pink;
}

@media screen and (min-width:768px){

}

@media screen and (min-width:992px){

}

@media screen and (min-width:1280px){
  .my-class{
    padding-top:60px ;
    padding-bottom: 60px;
  }
  .my-class-1{
    background:red;
  }
  .my-class-2{
    background:blue;
  }
  .my-class-3{
    background:orange;
  }
}
